@page
@model BloodBank.Areas.Admin.Pages.RequestHistoryModel

@{
    ViewData["Title"] = "RequestHistory";
}

<h1>RequestHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].AppUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].AppUser.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodRequest[0].Status)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BloodRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


        </tr>
}
    </tbody>
</table>
