@page
@model PersonalInfoModel

@{
    ViewData["Title"] = "PersonalInfo";
}

<h1>PersonalInfo</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.BloodGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Picture)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ApplicationUser.Picture != null)
            {
                <img src="~/assets/img/@Model.ApplicationUser.Picture" class="rounded-circle" height="40" width="40" asp-append-version="true" />
            }
            else
            {
                <img src="~/assets/img/profile-img.jpg" class="rounded-circle" height="40" width="40" asp-append-version="true" />

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="/EditPersonalInfo" asp-route-id="@Model.ApplicationUser.Id">Edit</a>
    |
    <a asp-page="/Account/Manage/ChangePassword" asp-area="Identity">change password</a>
</div>
